<div class="create__entity">
  <mat-card
    class="mt-4 mr-4"
    [ngClass]="{
      'card--black': isDarkThemeSubscription === true
    }"
  >
    <h2 class="create__entity__h2">Edit Foody's Item</h2>
  </mat-card>
  <hr [ngClass]="{ 'hr--white': isDarkThemeSubscription === true }" />
  <mat-card
    class="mr-4"
    [ngClass]="{
      'card--black': isDarkThemeSubscription === true
    }"
  >
    <div class="create__entity__content">

      <div class="row" style="margin-bottom: 30px">
        <div class="col-6">
          <p class="col-11">name</p>
          <input
            class="update__input ml-3"
            
            [ngClass]="{
              'update__input__text--white': isDarkThemeSubscription === true
            }"
            [(ngModel)]="item.name"
          />
        </div>

      
        <div class="col-6">
          <p class="col-11">price</p>
          <input
            class="update__input ml-3"
            
            [ngClass]="{
              'update__input__text--white': isDarkThemeSubscription === true
            }"
            [(ngModel)]="item.price"
          />
        </div>

      
      </div>

      <div class="row" style="margin-bottom: 30px">
        <div class="col-6">
          <p class="col-11">category</p>
          <input
            class="update__input ml-3"
            
            [ngClass]="{
              'update__input__text--white': isDarkThemeSubscription === true
            }"
            [(ngModel)]="item.category"
          />
        </div>

      
        <div class="col-6">
          <p class="col-11">isDelete</p>
          <input
            class="update__input ml-3"
            
            [ngClass]="{
              'update__input__text--white': isDarkThemeSubscription === true
            }"
            [(ngModel)]="item.isDelete"
          />
        </div>

      
      </div>
    </div>
    <div class="mt-3 mb-3 ml-3">
      <button class="btn btn-success" (click)="onUpdateItem()">
        <i class="fas fa-check"></i>Update
      </button>
      <button
        class="btn btn-secondary ml-2"
        [routerLink]="['/user/index/foodmanagement']"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-check"></i>Back
      </button>
    </div>
  </mat-card>
</div>
