<!-- <div class="login">
  <div class="login__form-container">
    <div class="login__signup">
      <div class="btn__hr">
        <button class="btn__login" (click)="switchForm('login')">
          <b>Login</b>
        </button>
        <hr class="hr" />
      </div>
      <div class="btn__hr">
        <button class="btn__signup" (click)="switchForm('register')">
          <b>Sign Up</b>
        </button>
        <hr class="hr" />
      </div>
    </div>
    <hr class="devider" />
    <div *ngIf="displayScreen === 'login'" class="login__container">
      <app-login-content></app-login-content>
    </div>
    <div *ngIf="displayScreen === 'register'" class="register__container">
      <app-register-content></app-register-content>
    </div>
  </div>
</div> -->
