<div class="row">
  <div class="col-3">
    <p> This website powered by </p>
    <img src="../../../../assets/images/LogoEasyWeb_Footer.png" width="60%" />
  </div>
  <div class="col-3">
    <h4><b>Company</b></h4>
    <p>About Us</p>
    <p>Careers</p>
    <p>Contact Us</p>
  </div>
  <div class="col-3">
    <h4><b>Further Information</b></h4>
    <p>Terms & Conditions</p>
    <p>Privacy Policy</p>
  </div>
  <div class="col-3">
    <h4><b>Further Information</b></h4>
    <div class="row ml-2">
      <a href="https://www.facebook.com/son.phan.16100/"
        ><i class="fab fa-facebook fa-2x"></i
      ></a>
      <a href="https://www.instagram.com/__fangson/"
        ><i class="fab fa-instagram fa-2x ml-4"></i
      ></a>
      <a href="#"><i class="fab fa-twitter fa-2x ml-4"></i></a>
    </div>
  </div>
</div>
