<div class="create__entity">
  <mat-card
    class="mt-4 mr-4"
    [ngClass]="{
      'card--black': isDarkThemeSubscription === true
    }"
  >
    <h2 class="create__entity__h2">Edit Bill Info 's Item</h2>
  </mat-card>
  <hr [ngClass]="{ 'hr--white': isDarkThemeSubscription === true }" />
  <mat-card
    class="mr-4"
    [ngClass]="{
      'card--black': isDarkThemeSubscription === true
    }"
  >
    <div class="create__entity__content">

      <div class="row" style="margin-bottom: 30px">
        <div class="col-6">
          <div class="row">
            <p class="col-11">idBill</p>
            <select 
              class="update__input ml-3" 
              id="ddlIdBill" 
              [(ngModel)] = "item.idBill" 
              [ngClass] = "{ 'update__input__text--white': isDarkThemeSubscription === true 
              }" 
              required
            >
              <option 
                *ngFor="let item of billItems; let i = index" [value]="billItems[i].id"
              >
                {{ billItems[i].id }}
              </option>
            </select>
          </div>
        </div>        <div class="col-6">
          <div class="row">
            <p class="col-11">idFood</p>
            <select 
              class="update__input ml-3" 
              id="ddlIdFood" 
              [(ngModel)] = "item.idFood" 
              [ngClass] = "{ 'update__input__text--white': isDarkThemeSubscription === true 
              }" 
              required
            >
              <option 
                *ngFor="let item of foodItems; let i = index" [value]="foodItems[i].id"
              >
                {{ foodItems[i].id }}
              </option>
            </select>
          </div>
        </div>      </div>
    </div>
    <div class="mt-3 mb-3 ml-3">
      <button class="btn btn-success" (click)="onUpdateItem()">
        <i class="fas fa-check"></i>Update
      </button>
      <button
        class="btn btn-secondary ml-2"
        [routerLink]="['/user/index/billinfomanagement']"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-check"></i>Back
      </button>
    </div>
  </mat-card>
</div>
