.login__container {
    background-image: url("../../../../assets/images/Login_Page.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card__login {
    background-color: #135a69;
    color: white;
    border-radius: 20px;
  }
  