// Dành cho Light UI
$lightColorBackground:white;
$lightColorBackground_Light_Primary:rgb(0,123,255);
$lightColorBackground_Light_Secondary:rgb(62, 105, 173);

$lightColorFont:white;
$colorFont_Dark:rgb(62,115,203);
// Dành cho Dark UI
$lightColorBackground_Dark_Primary:rgb(19,27,33);
$lightColorBackground_Dark_Secondary:rgb(44, 54, 61);
$lightColorBackground_Dark_Third:rgb(73, 78, 85)
