.register__container {
    background-image: url("../../../../assets/images/bg_register.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  