<div class="create__entity">
  <mat-card
    class="mt-4 mr-4"
    [ngClass]="{
      'card--black': isDarkThemeSubscription === true
    }"
  >
    <h2 class="create__entity__h2"> Create new Foody </h2>
  </mat-card>
  <hr [ngClass]="{ 'hr--white': isDarkThemeSubscription === true }" />
  <mat-card
    class="mr-4"
    [ngClass]="{
      'card--black': isDarkThemeSubscription === true
    }"
  >
    <div class="create__entity__content mr-2">

      <div class="row" style="margin-bottom: 30px">
        <div class="col-6">
          <div class="row">
            <p class="col-12">name</p>
            <input
              class="create__input col-11 ml-3"
              [ngClass]="{
                'create__input__text--white': isDarkThemeSubscription === true
              }"
              [(ngModel)]="item.name"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <p class="col-12">price</p>
            <input
              class="create__input col-11 ml-3"
              [ngClass]="{
                'create__input__text--white': isDarkThemeSubscription === true
              }"
              [(ngModel)]="item.price"
            />
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px">
        <div class="col-6">
          <div class="row">
            <p class="col-12">category</p>
            <input
              class="create__input col-11 ml-3"
              [ngClass]="{
                'create__input__text--white': isDarkThemeSubscription === true
              }"
              [(ngModel)]="item.category"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <p class="col-12">isDelete</p>
            <input
              class="create__input col-11 ml-3"
              [ngClass]="{
                'create__input__text--white': isDarkThemeSubscription === true
              }"
              [(ngModel)]="item.isDelete"
            />
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px">
        <div class="col-6">
          <div class="row">
            <p class="col-12">discount</p>
            <input
              class="create__input col-11 ml-3"
              [ngClass]="{
                'create__input__text--white': isDarkThemeSubscription === true
              }"
              [(ngModel)]="item.discount"
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <mat-checkbox class="checkbox-margin" [(ngModel)]="isContinueToCreate">Continue to create</mat-checkbox>
    </div>
    <div class="mt-4 mb-3">
      <button class="btn btn-success" (click)="createNewItem()">
        <i class="fas fa-check"></i>Submit
      </button>
      <button 
        class="btn btn-secondary" 
        [routerLink]="['/user/index/foodmanagement']" 
        routerLinkActive="router-link-active" 
      >
        <i class="fas fa-check"></i>Back
      </button>
    </div>
  </mat-card>
</div>
